* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header_flex {
    width: 100%;
    background-color: #353A40;
    display: flex;
    position: fixed;
}

.bgcolorgris {
    background-color: #353A40;
}

.header_logo {
    align-items: center;
    width: 40%;
    padding-left: 3rem;
    color: white;
    display: inline-flex;
}

.img_logo {
    width: 10%;
}
.title_logo {
    font-size: 1.2rem;
    font-weight: lighter;
}

.section_main {
    background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url(../assets/imagenes/ba1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

.div_main {
    color: white;
    padding: 5rem;
    text-align: end;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.botones_main {
    padding-top: 2rem;
    
}

.boton_contacto {
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 10px; 

}

.boton_tickets {
    border: 1px solid #008000;
    padding: 10px;
    background-color: #008000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

.header_links {
    width: 60%;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(192, 192, 192);
}

.color_verde {
    color: #008000;
}

.color_blanco {
    color: white;
}

.section_titulo {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.padre_tarjetas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.tarjetas_flex {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.tarjeta {
    width: 30%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
}

.tarjeta_parrafo {
    width: 90%;
    font-size: 0.7rem;
    padding-top: 1rem;
}

.tarjeta_img {
    width: 100%;
    border-radius: 5px;
}

.tarjeta_contenido {
    padding: 1rem;
}

.orador_caja {
    color: #ffffff;
    font-size: .6rem;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
}

.fondo_yellow {
    background-color: #ffc104;
    color: black;
}

.fondo_cian {
    background-color: #17a2b7;
}

.fondo_gris {
    background-color: #6c757e;
}

.fondo_rojo {
    background-color: #dd3546;
}

.section_dividida {
    display: flex;
    height: 60vh;
    margin-bottom: 1rem;
}

.contenido_izq {
    height: 100%;
    width: 50%;
    margin: 1px;
    background-image: url("../assets/imagenes/honolulu.jpg");
    background-size: cover;
}

.contenido_der {
    height: 100%;
    width: 50%;
    margin: 1px;
    background-color: #353A40;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo_der {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.parrafo_der {
    padding: 1rem;
 font-size: 0.8rem;
}

.padre_boton_der {
    padding-left: 1rem;
}

.boton_der {
    font-size: 0.8rem;
    border: 1px solid white;
    padding: 5px;
    background-color:none;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

h6 {
    font-weight: 500;
    color: black;
}

.width50 {
    width: 50%;
    margin: 0 auto;
}

.bgcolorgradiente {
    background: #1c3846;
background: linear-gradient(90deg,#1c3846 0%, #1f5271 80%);
}

.altofooter {
    height: 15vh;
}

@media screen and (max-width:600px) {
    
    .header_flex{
        flex-direction: column;
    }

    .header_logo {
        width: 100%;
        justify-content: space-evenly;
        padding: initial;
    }
    .header_links {
        width: 100%;
        flex-direction: column;
        padding: initial;
    }

    .div_main {
        text-align: center;
    }

    .botones_main {
        display: flex;
        flex-direction: column;
    }

   .tarjetas_flex{
    flex-direction: column;
   }  

   .tarjeta {
    width: 100%;
   }

   .tarjeta_parrafo {
    font-size: 1rem;
   }

   .section_dividida {
    flex-direction: column;
   }

   .contenido_izq  {
    width: 100%;
    margin: 0;
   }

   .contenido_der {
    width: 100%;
    margin: 0;
   }

   .titulo_der {
    margin: auto;
   }

   .padre_boton_der {
    margin: auto;
    padding-bottom: 1rem;
   }

   .p_contacto {
    margin: 1.3rem;
    text-align: center;
   }

   .altofooter {
    height: 25vh;
    flex-wrap: wrap;
    margin: 0 auto;
   }  
}