* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header_flex {
    height: 15vh;
    background-color: #353A40;
    display: flex;
}

.header_logo {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 3rem;
    color: white;
}

.img_logo {
    width: 22%;
}
.title_logo {
    font-size: 1.2rem;
    font-weight: lighter;
}

.img_main {
    width: 100%;
}

.header_links {
    width: 70%;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(192, 192, 192);
}

.section_dividida {
    display: flex;
    height: 70vh;
}

.contenido_izq {
    background-image: url("../assets/imagenes/honolulu.jpg");
    background-size: cover;
    height: 100%;
    width: 50%;
}

.contenido_der {
    height: 100%;
    width: 50%;
    background-color: #353A40;
    color: white;
    font-size: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section_tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padre_tarjetas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas_flex {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.tarjeta {
    width: 30%;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
}

.tarjeta_parrafo {
    width: 80%;
}

.tarjeta_img {
    width: 100%;
    border-radius: 5px;
}

.tarjeta_contenido {
    padding: 1rem;
}

.titulo_tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
}